@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@media (min-width: 1920px) {
    .container {
        max-width: 1168px;
    }
    .burger {
        display: none;
    }
    .number, .mail {
        display: flex;
    }
    .first {
        height: 848px;
    }
    .about {
        width: 906px;
    }
    .slogan {
        width: 750px;
        display: flex;
    }
    .check {
        width: 702px;
        padding-top: 119px;
    }
    .work {
        height: 500px;
    }
    .home {
        margin-left: 161px;
    }
    .montage {
        margin-left: 161px;
    }
    .bloks {
        width: 1168px;
    }
    .elements {
        height: 500px;
    }
    .pay {
        width: 897px;
    }
    .contract p {
        width: 632px;
    }
    .photo {
        width: 1383px;
        gap: 50px;
    }
    .map {
        height: 514px;
    }
    .text h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
    }
    .group {
        font-weight: 700;
        font-size: 20px;
        line-height: 50px;
    }
    .discount {
        font-weight: 500;
        font-size: 48px;
        width: 500px;
    }
    .text {
        width: 500px;
    }
    .check h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
    }
    .quality {
        height: 646px;
    }
    .work h4 {
        padding-top: 130px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        color: white;
    }
    .reviw {
        padding-top: 80px;
    }
    .reviews {
        height: 794px;
    }
    .stages {
        width: 984px;
    }
}

@media (min-width: 768px) and (max-width: 1919px) {
    .container {
        max-width: 610px;
    }
    nav {
        display: none;
    }
    .number {
        display: none;
    }
    .mail {
        display: none;
    }
    .first__flex {
        flex-direction: column-reverse;
    }
    .text {
        margin-bottom: 40px;
    }
    .slogan img {
        width: 113px;
    }
    .slogan {
        display: flex;
        width: 600px;
        margin-top: 100px;
    }
    .quality__button {
        margin: auto;
    }
    .stages {
        flex-direction: column;
        gap: 45px;
        width: 984px;
    }
    .work {
        height: 1050px;
    }
    .bloks {
        flex-direction: column;
        gap: 45px;
    }
    .elements {
        height: 650px;
        padding-top: 150px;
    }
    .photo img:nth-child(2) {
        display: none;
    }
    .photo img:nth-child(3) {
        display: none;
    }
    .photo {
        gap: 35px;
    }
    .maps {
        width: 500px;
    }
    .map {
        height: 350px;
    }
    .text h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
    }
    .group {
        font-weight: 700;
        font-size: 20px;
        line-height: 50px;
    }
    .discount {
        font-weight: 500;
        font-size: 48px;
        width: 500px;
    }
    .text {
        width: 500px;
    }
    .check h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
    }
    .quality {
        height: 646px;
    }
    .check {
        padding-top: 119px;
    }
    .work h4 {
        padding-top: 130px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        color: white;
    }
    .reviw {
        padding-top: 80px;
    }
    .reviews {
        height: 794px;
    }
}

@media (min-width: 390px) and (max-width: 767px) {
    .container {
        max-width: 290px;
    }
    nav {
        display: none;
    }
    .number {
        display: none;
    }
    .mail {
        display: none;
    }
    .first__flex {
        flex-direction: column-reverse;
    }
    .logotip img {
        width: 290px;
    }
    .text h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 80px;
    }
    .group {
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
    }
    .discount {
        width: 290px;
        height: 4px;
        font-size: 24px;
        line-height: 50px;
        text-transform: uppercase;
    }
    .text {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .we {
        text-align: center;
    }
    .slogan {
        display: none;
    }
    .structure {
        display: none;
    }
    .check {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .check h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 50px;
    }
    .check {
        padding-top: 40px;
    }
    .stages {
        flex-direction: column;
        gap: 45px;
    }
    .work {
        height: 1150px;
    }
    .work h4 {
        padding-top: 40px;
        font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    }
    .work__main {
        text-align: center;
    }
    .bloks {
        flex-direction: column;
        gap: 35px;
    }
    .elements {
        height: 650px;
        padding-top: 100px;
    }
    .contract img, .contract p{
        display: none;
    }
    .photo img:nth-child(2) {
        display: none;
    }
    .photo img:nth-child(3) {
        display: none;
    }
    .photo img:nth-child(4) {
        display: none;
    }
    .photo {
        gap: 35px;
    }
    .maps {
        width: 290px;
    }
    .map {
        height: 200px;
    }
    .reviews {
        height: 670px;
    }
}

.container{
    margin: auto;
    background-size: 100%;
}

header{
    background-color: black;
    height: 92px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.topmenu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    margin-right: 30px;
}

.nav__menu {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.topmenu > li:last-child {
    margin-right: 0;
}

a {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.icon{
    margin-right: 45px;
}

.icon p{
    color: rgb(255, 0, 0);
    display: flex;
}

.number {
    gap: 10px;
    font-size: 16px;
}

.mail{
    margin-top: 8px;
}

.mail{
    gap: 10px;
    font-size: 16px;
}

a.button {
    display: inline-block;
    background: #ff0000;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.but {
    margin-top: -50px;
    margin-left: 200px;
    text-align: center;
    width: 224px;
    height: 60px;   
}   

.first{
    display: flex;
    width: 100%;
    background-image: url(./img/image\ 20.jpg);
    background-repeat: no-repeat;
    margin-top: 1px;
    background-size: cover;

}

.text{
    height: 624px;
}

.text h1{
    font-style: normal;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FF0000;
}

.group{
    width: 313px;
    height: 114px;
    color: white;
    font-style: normal;
    align-items: center;
    letter-spacing: 1px;
    margin-top: 47px;
}

.discount{
    height: 160px;
    font-style: normal;
    align-items: center;
    color: white;
    margin-top: 55px;
}

.but2{
    width: 375px;
    height: 87px;
    background: #FE0000;
    box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but2 a{
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
}

.pop_up{
    display: none;
    margin-top: -900px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .8);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

.pop_up.active{
    display: block;
}

.pop_up_container{
    padding-top: 100px;
    width: 100%;
}

.pop_up_body{
    margin: auto;
    width: 560px;
    height: 800px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 100px;
    margin-top: 150px;
    position: relative;
}

.pop_up_body h1{
    font-size: 36px;
    line-height: 1.23;
    color: rgb(255, 248, 248);
    text-align: center;
    padding-top: 50px;
    margin-left: -70px;
}

.pop_up_body p{
    font-size: 16px;
    line-height: 1.55;
    text-align: center;
    margin-left: -70px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.pop_up_body input{
    display: block;
    margin-top: 50px;
    width: 330px;
    padding: 17px 20px;
    border-radius: 10px;
    border: #FE0000;
}

.pop_up_body input:focus{
    outline: none;
}

.pop_up_body button{
    cursor: pointer;
    display: block;
    width: 530px;
    margin: 60px -30px;
    padding: 20px 0px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 0, 0);
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.pop_up_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.first__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.we{
    height: 570px;
    background-image: url(./img/image\ 21.jpg);
    
}

.about{
    height: 174px;
    padding-top: 55px;
    color: white;
}

.about h2{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 77px;
    text-shadow: -10px 10px 20px rgba(255, 255, 255, 0.35);
}

.about p{
    font-weight: 700;
    line-height: 30px;
    margin-top: 33px;
    text-transform: uppercase;
}

.slogan{
    height: 246px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

.slog{
    background: #000000;
    border-radius: 50px;
    height: 94px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slog p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding-left: 10px;
}

.quality{
    background-image: url(./img/image\ 23.jpg);
}

.check{
    height: 372px;
}

.check p{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.check h3{
    font-style: normal;
    margin-top: 24px;
    color: #FFFFFF;
}

.structure{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    margin-top: 24px;
}

.work{
    background-color: #000000;
}

.work__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stages{
    height: 170px;
    padding-top: 77px;
    display: flex;
    justify-content: space-between;
}

.layout{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one{
    width: 137px;
    height: 137px;
    border: 2px solid #FF0000;
    border-radius: 25px;
}

.one p{
    font-weight: 700;
    font-size: 64px;
    line-height: 0px;
    color: rgb(255, 0, 0);
}

.start p{
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.two{
    width: 137px;
    height: 137px;
    border: 2px solid #FF0000;
    border-radius: 25px;
}

.two p{
    font-weight: 700;
    font-size: 64px;
    line-height: 0px;
    color: rgb(255, 0, 0);
}

.detail p{
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.production{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.three{
    width: 137px;
    height: 137px;
    border: 2px solid #FF0000;
    border-radius: 25px;
}

.three p{
    font-weight: 700;
    font-size: 64px;
    line-height: 0px;
    color: rgb(255, 0, 0);
}

.sign p{
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.delivery{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.four{
    width: 137px;
    height: 137px;
    border: 2px solid #FF0000;
    border-radius: 25px;
}

.four p{
    font-weight: 700;
    font-size: 64px;
    line-height: 0px;
    color: rgb(255, 0, 0);
}

.deliv p{
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}


.elements{
    background-image: url(./img/image\ 24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bloks{
    height: 200px;
    padding-top: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    width: 282px;
    height: 189px;
}

.star{
    margin-left: 105px;
}

.info{
    width: 282px;
    height: 147.88px;
    background: rgba(114, 114, 114, 0.5);
    border-radius: 50px;
    margin-top: -30px;
}

.white{
    padding-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: white;
    width: 193px;
    height: 41px;
    margin-left: 44px;
    padding-top: 33px;
}

.red{
    width: 195px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FF0000;
    margin-left: 44px;
    margin-top: 16px;
}

.home{
    width: 282px;
    height: 188.88px;
}

.house{
    margin-left: 108px;
}

.info2{
    width: 282px;
    height: 147.88px;
    background: rgba(114, 114, 114, 0.5);
    border-radius: 50px;
    margin-top: -30px;
}

.will{
    padding-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: white;
    width: 243px;
    height: 24px;
    margin-left: 20px;
    padding-top: 33px;
}

.day{
    width: 195px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FF0000;
    margin-left: 108px;
    margin-top: 16px;
}

.montage{
    width: 282px;
    height: 199.88px;
}

.pic{
    margin-left: 115px;
}

.info3{
    width: 282px;
    height: 147.88px;
    background: rgba(114, 114, 114, 0.5);
    border-radius: 50px;
    margin-top: -30px;
}


.light{
    padding-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: white;
    width: 243px;
    height: 24px;
    margin-left: 44px;
    padding-top: 33px;
}

.help{
    width: 195px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FF0000;
    margin-left: 58px;
    margin-top: 16px;
}

.payment{
    height: 500px;
    background-color: #000000;
}

.all{
    height: 360px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: white;
}

.pay{
    background: #A80000;
    border-radius: 50px;
    margin-top: 46px;
}

.pay p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 16px;
}

.contract{
    padding-top: 36px;
}

.contr{
    display: block;
    gap: 5px;
}

.contract p{
    height: 95px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -100px;
    margin-left: 50px;
}

.reviews{
    background: #000000;
}

.reviews h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.photo{
    height: 359px;
    padding-top: 29px;
    display: flex;
}

.back{
    margin-top: 155px;
    width: 50px;
    height: 50px;
}

.rev{
    gap: 100px;
    height: 359px;
}

.forward{
    margin-top: 155px;
    width: 50px;
    height: 50px;
}

.reviews__flex {
    flex-direction: column;
}

.but3{
    width: 375px;
    height: 87px;
    background: #FE0000;
    box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    margin-top: 39px;
}

.buttons{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
}

.map{
    background: #000000;
}

.map__image{
    flex-direction: column;
}

.quality__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.quality__button{
    background: #C20101;
    box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    width: 222px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.footer{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.footer__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.gap {
    gap: 16px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__main {
    width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer__flex {
    display: flex;
    align-items: center;
}